version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: hotel_db
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  app:
    build: .
    depends_on:
      - db
    environment:
      - DISPLAY=${DISPLAY} # For Linux/Mac X11 forwarding
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix # For Linux X11 forwarding
    entrypoint: ["java", "-Djakarta.persistence.jdbc.url=jdbc:mysql://db:3306/hotel_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true", "-jar", "app.jar"]

volumes:
  db_data:
